.button {
  min-width: 80px;
  min-height: 48px;
  border: 1px solid black;
  cursor: pointer;
  &-red {
    flex: 1;
    background-color: red;
  }
  &-white {
    flex: 1;
    background-color: white;
  }
  &-black {
    flex: 1;
    background-color: black;
    color: white;
  }
  &-gray {
    flex: 1;
    border: none;
    background-color: #f1f1f1;
    color: black;
  }
}
