.contents {
  .contents-area {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-bottom: 120px;

    .thumbnail {
      display: flex;
      flex: 1;
      justify-content: center;
      max-width: 480px;
    }
    .product-img {
      width: 100%;
    }
    .product-info {
      flex: 1;
    }
  }

  .information-area {
    display: flex;
    flex-direction: column;
  }
}

.product {
  &-info {
    display: flex;
    flex-direction: column;

    .price-info {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: flex-end;
      padding-bottom: 36px;
    }
  }
  &-title {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;

    &-repeat {
      flex: 2;
      font-size: 12px;
    }
  }

  &-price {
    &-repeat {
      flex: 0.4;
    }
  }
  &-actions {
    display: flex;
    gap: 4px;
  }

  &-desc {
    padding: 36px 0;
    color: #999999;
    font-size: 16px;
    line-height: 1.5;
  }
  &-summary {
    display: flex;
    align-items: center;
    padding-bottom: 36px;
    font-size: 12px;
  }
}

.cart-purchase-container {
  display: flex;
  padding-top: 36px;
  gap: 8px;
}

.information-area {
  .tabs {
    display: flex;
    gap: 8px;

    .tab {
      flex: 1;
      padding-bottom: 24px;
      border-bottom: 1px solid;
      text-align: center;
    }
  }
  .tab-content {
    padding-top: 56px;
    text-align: center;
  }
}
