.product-information {
  display: flex;
  flex-direction: column;

  .tabs {
    display: flex;
    gap: 8px;

    .tab {
      flex: 1;
      padding-bottom: 24px;
      border-bottom: 1px solid rgb(221, 221, 221);
      text-align: center;
    }
  }

  .tab-content {
    padding: 80px 0;
    text-align: center;
  }
}
