@import '../../../styles/variables';

.agreement {
  .agree-all {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;

    .all-article {
      font-weight: bold;
    }
  }
  .agree-single {
    .agree-article {
      display: flex;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
