@import '../../../styles/variables';

.agreement {
  .agree-all {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;

    .text-base {
      font-weight: bold;
    }
  }

  .agree-pay {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;

    .text-base {
      color: gray;
    }
  }

  .agree-subscribe {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
