@import '../../../styles/common';
@import '../../../styles/variables';
@import '../Payment';

.payment-method {
  margin-top: 30px;
  margin-bottom: 70px;
  .text-xl {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
  }

  .payment-method-main {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;

    .payment-method-select {
      display: flex;
      margin-top: 7px;
      margin-bottom: 7px;

      .text-lg {
        width: 200px;
        padding-top: 10px;
      }
      .payment-method-point {
        width: 500px;
        .point-button {
          width: 50%;
          height: 46px;
          background-color: black;
          color: white;
        }

        .confirm {
          @include flex-sort(center, center);
          margin-top: 30px;
          margin-bottom: 30px;
        }
        .pay {
          @include flex-sort(flex-end, none);
          padding-top: 30px;
          padding-bottom: 30px;

          .pay-button {
            width: 320px;
            height: 46px;
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
