@import '../../../styles/variables';

.confirm-password {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  .confirm-main {
    @include flex-sort(space-evenly, center);
    flex-direction: column;
    height: 100%;

    input {
      width: 300px;
      height: 42px;
      padding-right: 10px;
      padding-left: 10px;
      border: 1px solid #999999;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #999999;
      }
    }

    button {
      width: 200px;
      height: 60px;
      background-color: black;
      color: white;
    }
  }
}
