@import '../../../styles/variables';

.order-items {
  .order-title {
    @include flex-sort(space-between, baseline);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

    .text-lg {
      &.order-date {
        margin-right: 7px;
      }
    }
  }
}
