@import '../../../styles/variables';

.userinfo-update {
  .userinfo-update-main {
    padding-left: 5px;

    .user-info {
      @include flex-sort(none, center);
      margin-top: 20px;
      margin-bottom: 20px;

      .text-lg {
        &.info-title {
          width: 200px;
        }
      }

      .valid-0 {
        background-color: rgb(221, 221, 221);
      }

      input {
        width: 500px;
        height: 42px;
        padding-right: 10px;
        padding-left: 10px;
        border: 1px solid #999999;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #999999;
        }
      }

      .help-pwd {
        @include font(10px, #999999);
      }
    }

    .button-part {
      @include flex-sort(space-evenly, center);
      margin: 100px;

      button {
        width: 200px;
        height: 60px;
        background-color: black;
        color: white;

        &.updatePwd {
          background-color: rgb(221, 221, 221);
          &.valid {
            background-color: black;
          }
        }
      }
    }
  }
}
