@import '../../styles/variables';

.title-line {
  @include flex-sort(space-around, center);
  margin-top: 40px;
  .logo {
    height: 100px;
  }
  .search-bar {
    width: 406px;
    height: 50px;
  }
}
.title-right {
  @include flex-sort(center, center);
  gap: 20px;
  .to-wishlist,
  .to-cart {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-image: url('../../assets/main/heart.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &.to-cart {
      background-image: url('../../assets/main/cart.svg');
    }
  }
}

.title-nav {
  @include flex-sort(flex-start, center);
  @include font(16px, #1c1c1c);
  margin-top: 40px;
  font-weight: bold;
  gap: 20px;
  .menus {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-image: url('../../assets/main/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.big-ad {
  width: 1050px;
  height: 212px;
  margin-top: 50px;
}
.small-ad {
  width: 1050px;
  height: 140px;
  margin-top: 80px;
}

.title-category {
  margin-top: 60px;
  @include flex-sort(space-around, center);
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
    @include font(20px, #1c1c1c);
  }
  img {
    width: 40px;
  }
}

.title-ad2 {
  width: 100%;
  margin-top: 130px;
  .ad2 {
    width: 100%;
    height: 140px;
  }
}

.introd-sub {
  margin-top: 80px;
  @include font(28px, #1c1c1c);
  font-weight: 700;
}

.product-lineup {
  margin-top: 32px;
  @include flex-sort(space-around, center);
  .product-item {
    .product-img {
      width: 200px;
      height: 200px;
    }
    .product-title {
      @include font(20px, #1c1c1c);
      font-weight: 600;
    }
    .product-price {
      @include font(16px, #333333);
    }
  }
}
