@import '../../styles/variables';

.category-modal-nav {
  display: flex;
  position: absolute;
  z-index: 5;
  top: 32px;
  left: 0px;
  flex-direction: column;
  align-items: center;
  width: 274px;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  opacity: 0;
  background-color: rgba(28, 28, 28, 0.95);
  animation-fill-mode: forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .modal-container {
    width: 100%;
    height: 50px;
    margin: 5px auto;
    &:first-child {
      margin-top: 15px;
    }

    &:last-child {
      margin-bottom: 15px;
    }
    &:hover {
      background-color: black;
    }
    a {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      margin: auto, 0;
      padding: 5px 20px;
      gap: 20px;
    }

    img {
      width: 24px;
      height: 24px;
      margin: auto, 0;
    }

    p {
      @include font(16px, #ffffff);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .sub-category-dropdown {
    display: flex;
    position: relative;
    gap: 30px;
    z-index: 999;
    top: -35px;
    left: 270px;
    flex-direction: column;
    width: 274px;
    height: 120px;
    background-color: rgba(28, 28, 28, 0.95);

    .sub-modal-container {
      height: 50px;
      margin-top: 10px;
      padding: 5px 20px;
      &:first-child {
        margin-top: 0;
      }
      &:hover {
        background-color: black;
        font-weight: bold;
      }

      a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        gap: 20px;

        img {
          width: 24px;
          height: 24px;
        }

        p {
          @include font(16px, #ffffff);
        }
      }
    }
  }

  &:hover .sub-category-dropdown {
    display: block;
  }

  &:hover .modal-container:not(:hover) .sub-category-dropdown {
    display: none;
  }
}
