@import '../../../styles/variables';

.newest-nav {
  width: 100%;

  .newest-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    margin-top: 40px;
  }

  .navbar-item {
    cursor: pointer;
    &:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .active {
    padding-bottom: 4px;
    font-weight: 600;
    text-decoration: underline;
  }

  .newest-product-container .newest-product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
}
