@import '../../../styles/variables';

.product-lineup {
  position: relative;
  margin-top: 32px;

  @include flex-sort(space-between, center);
  .product-slider-prev {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 0;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: white;
    background-image: url(../../../assets/main/toleft.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  }

  .product-slider-next {
    position: absolute;
    z-index: 1;
    top: 45%;
    right: 0;
    width: 45px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: white;
    background-image: url(../../../assets/main/toright.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
  }

  .product-slider-container {
    display: flex;
    z-index: 0;
    overflow: hidden;
  }

  .product-slider-track {
    display: flex;
    height: 300px;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1.09);
    gap: 70px;
  }

  .product-item {
    transform: translateZ(0);
    backface-visibility: hidden;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;

    .product-img {
      position: relative;
      width: 200px;
      height: 200px;
      transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1.09);
      &:hover {
        transform: scale(1.05);
      }
    }

    .product-title {
      @include font(20px, #1c1c1c);
      font-weight: 600;
      text-decoration: none;
    }

    .product-price {
      @include font(16px, #333333);
    }

    .to-cart {
      position: absolute;
      right: -180px;
      bottom: 45px;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50%;
      background-image: url('../../../assets/main/cart.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
