@import '../../../styles/variables';

.product-list-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  .product-list {
    @include flex-sort(flex-start, center);
    flex-wrap: wrap;
    width: 1018px;
    gap: 10px;

    .product-item {
      width: 330px;
      height: 500px;
      transform: translateZ(0);
      backface-visibility: hidden;
      transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1.09);
      border-radius: 5px;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }

      .product-img {
        width: 328px;
        height: 328px;
      }

      .product-title {
        @include font(20px, #1c1c1c);
        font-weight: 600;
        text-decoration: none;
        white-space: normal;
      }

      .product-price {
        @include font(16px, #333333);
      }
      .product-subtitle {
        @include font(15px, #999999);
        white-space: normal;
      }
    }
  }
}
