@import '../../../styles/variables';

.product-list-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  .main-name {
    @include font(32px, #1c1c1c);
    font-weight: 600;
  }
  .sub-names {
    @include flex-sort(space-around, center);
    width: 1050px;
    margin-top: 40px;
    padding: 32px 44px;
    border: 1px solid #dddedd;
    border-radius: 5px;
    & .inactive {
      @include font(16px, #1c1c1c);

      &:hover {
        @include font(16px, #1c1c1c);
        font-weight: 600;
        text-decoration: underline;
      }
    }

    & .active {
      @include font(16px, #1c1c1c);
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
