@import '../../styles/variables';

.product-list {
  a {
    &:visited &:hover &:focus &:active {
      text-decoration: none !important;
    }
  }
  .banner {
    width: 1010px;
    height: 193px;
    margin-top: 40px;
  }
}
