@import '../../styles/variables';
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  .top {
    @include flex-sort(center, center);
    height: 100px;
    .text-2xl {
      &.cart-title {
        font-size: 32px;
        font-weight: bold;
      }
    }
  }
  .content-wrap {
    @include flex-sort(space-between, flex-start);
  }
}
