.title {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  .title-name {
    box-sizing: border-box;
    width: 100%;
    padding: 52px 0 72px;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
  }
}

.content-wrap {
  display: flex;
  .checkbox-wrap {
    align-items: flex-start;
    width: 100%;
    height: 100%;
    .product-wrap {
      flex-direction: column;
      width: 100%;
      padding-bottom: 20px;
      .checkbox-inner {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
        .choice-checkbox {
          border-radius: 50%;
          cursor: pointer;
        }
        .select {
          display: flex;
          margin-right: 12px;
          vertical-align: middle;
          .choice {
            padding: 0 16px 0 8px;
            cursor: pointer;
          }
        }
      }
      .message-web {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 140px 0;
        color: #dddedd;
      }
    }
  }

  .order-info {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    width: 360px;
    max-width: 316px;
    padding: 24px 20px 40px;
    background-color: #fbfafa;

    .order-won {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      width: 100%;
      max-width: 316px;
      padding: 24px 20px 40px;
      background-color: #f1f1f1;
      color: #9a9a9a;
      font-size: 16px;

      .product-amount {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
        background-color: #f1f1f1;
        color: #1c1c1c;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
      }

      .shipment-fee {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
        color: #1c1c1c;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
      }

      .total {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 8px;
        margin-bottom: 16px;
        padding-top: 20px;
        border-top: var(--border-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
      }
    }

    .shipping-free {
      margin-top: 16px;
    }

    .empty-button.web {
      width: 100%;
      height: 60px;
      min-height: 60px;
      margin-top: 20px;
      border: 1px solid white;
      background-color: #dddedd;
      color: #fff;
      cursor: pointer;
    }

    .tips {
      margin-top: 20px;
      color: #dddedd;
      font-size: 12px;
      font-weight: 400;
      line-height: 140%;
      text-align: start;
    }
  }
}
