@import '../../styles/variables';
.background {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  // height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.mypage {
  // position: fixed;
  margin-top: 64px;

  .mypage-main {
    display: flex;

    .main-left {
      width: 250px;
      padding-left: 30px;

      .text-2xl {
        margin-top: 50px;
        margin-bottom: 30px;
        @include flex-sort(center, center);
        font-weight: bold;
      }
    }

    .main-right {
      flex-grow: 1;
      margin-bottom: 100px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}
