@import '../../../styles/variables';

.listitem-info {
  @include flex-sort(space-between, center);
  margin-top: 12px;

  .item-left {
    @include flex-sort(none, center);

    img {
      width: 80px;
      height: 80px;
    }
    .product-info {
      margin-left: 12px;
      font-size: 20px;
    }
  }

  .item-right {
    @include flex-sort(center, center);
    margin-right: 12px;
  }
}
