@import '../../../styles/variables';

.product {
  align-items: flex-start;
  // width: 100%;
  width: 2400px;
  height: 100%;

  .product-wrap {
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    .checkbox-inner {
      display: flex;
      padding-bottom: 20px;
      border-bottom: 1px solid black;
      .all-check-label {
        display: flex;
        .choice-checkbox {
          display: flex;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .choice {
        padding-left: 8px;
        cursor: pointer;
      }
      // .all-wrap {
      //   @include flex-sort(center, center);

      //   background-color: bisque;
      //   .select {
      //     display: flex;
      //     margin-right: 12px;
      //     vertical-align: middle;
      //   }
      // }
    }
    .message-web {
      @include flex-sort(space-between, none);
      flex-direction: column;
      height: 100%;

      .summary-info {
        margin-top: 50px;
      }

      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // justify-content: center;
      // width: 100%;
      // padding: 140px 0;
      // color: #dddedd;
    }
  }
}
