* {
  font-family: 'SUIT', sans-serif;
  word-break: keep-all;
  .summary {
    background-color: #f1f1f1;
    .sum-contents {
      display: flex;
      box-sizing: border-box;
      margin-left: 200px;
      padding: 24px 48px 24px 0;
      border: none;

      .sum-contents {
        display: flex;
        align-items: center;
        line-height: 20px;
        .product-price {
          margin-right: 12px;
        }
        strong {
        }

        .delv-price {
          flex-direction: row;
          margin-right: 20px;
        }
        .sum-total {
          flex-direction: row;
        }
      }
    }
  }
}
