.title {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  .title-name {
    box-sizing: border-box;
    width: 100%;
    padding: 52px 0 72px;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
  }
}
