.footer {
  height: auto;
  margin-top: 90px;
  border-top: 1px solid rgb(221, 221, 221);

  &-list {
    display: flex;
    padding: 48px 0 24px 16px;
    gap: 48px;
    .to-login {
      border: none;
      outline: none;
      background-color: transparent;
      color: #999999;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-item {
    border: none;
    outline: none;
  }

  &-info {
    display: flex;
    padding: 36px 16px;
    color: #999999;
  }
}

.footer-left {
  flex: 1;

  p {
    padding-bottom: 16px;
  }
}

.footer-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
