@import '../../styles/common';
@import '../../styles/variables';

.signup {
  .title {
    @include font(28px, black);
    margin-top: 150px;
    text-align: center;
  }

  .basicinfo {
    @include font(20px, black);
    margin: 30px 15px 30px 100px;
    padding-bottom: 15px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #999999;
    border-bottom-color: black;
  }

  .signupform {
    @include font(16px, black);
    margin: 30px 15px 30px 100px;

    .form-id {
      padding: 10px;
    }

    .form-info {
      margin: 5px 5px 10px 15px;
    }

    .form-placeholder {
      @include flex-sort(center, center);
      flex-direction: column;
      width: 500px;
      height: 42px;
      margin: -25px 10px 0px 130px;
    }

    .form-message {
      @include flex-sort(center, center);
      flex-direction: column;
      margin: 10px 410px 10px 30px;
      color: #999999;
      font-size: 11px;
      line-height: 140%;
    }
  }
}

.plusinfo {
  @include font(20px, black);
  margin: 30px 15px 30px 100px;
  padding-bottom: 15px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: black;

  .plus-info {
    margin-bottom: 5px;
  }
}

.plusinfoform {
  @include font(16px, black);
  margin: 30px 15px 30px 100px;

  .write-birth {
    margin-top: 10px;

    .input-birth {
      width: 500px;
      height: 42px;
      margin-left: 80px;
    }
  }

  .check-gender {
    margin-top: 10px;

    .check-radio {
      margin: -15px 5px 0px 130px;
    }
  }
}

.agree {
  @include font(20px, black);
  margin: 30px 15px 30px 100px;
  padding-bottom: 15px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.agree-all {
  @include font(16px, black);
  margin: 10px 20px 10px 200px;

  .check-message {
    @include flex-sort(center, center);
    flex-direction: column;
    margin: 10px 0px 0px -430px;
    color: #999999;
    font-size: 11px;
    line-height: 140%;
  }
}

.agree-check {
  @include font(16px, black);
  margin: 10px 20px 20px 100px;

  .checkbox-message {
    @include flex-sort(center, center);
    flex-direction: column;
    margin: 10px 0px 0px -430px;
    color: #999999;
    font-size: 11px;
    line-height: 140%;
  }
}

.signupbtn {
  width: 266px;
  height: 60px;
  margin: 30px 0px 0px 380px;
  background-color: black;
  color: white;
}
